html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Overpass Mono', monospace;
    color: rgb(82, 120, 186);
    font-size: 15px;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}


.audio-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.audio-icon img {
    width: 100%;
    height: 50px;
}

/* IDENTIFIERS */


#background {
    height: 100%;
    width: auto;
    background-image: url("images/tetris-background.jpeg");
    background-size: cover;
}

#main-container {
    display: flex;
    justify-content: center;
}

#instructions {
    width: 200px;
    /* background-color: red; */
}

#game-canvas {
    background-color: rgb(117, 113, 113);
    border-radius: 5px;
}

#score-box {
    width: 200px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttons {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    /* background-color: chartreuse; */
}

#next-piece {
    /* background-color: aqua; */
    height: 35%;
    /* background-color: black; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid gray;
}

#game {
    padding: 10px;

}

#next-piece-img {
    width: 40%;
    filter: brightness(90%);
}

#change-goal-btn {
    height: 30px;
    border: 4px solid rgb(82, 120, 186);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: rgb(194, 194, 194);
}

#goal-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#goal-input {
    width: 30px;
    border: 4px solid rgb(82, 120, 186);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: rgb(194, 194, 194);
}

/* ditambahkan untuk icon back  */
.back-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Efek bayangan */
    padding: 8px;
}

/* Style untuk back icon SVG */
.back-link svg {
    width: 100%;
    height: 100%;
    fill: #333;
}

/* CLASSES */

.logo {
    width: 200px;
}

.content-container {
    margin: 10px;
    /* padding: 10px; */
    box-shadow: rgb(255 255 255) 0px 0px 10px 3px;
    background-color: rgba(26, 26, 26, 0.8);
    border: 2px solid gray;
    border-radius: 5px
}

.key-img {
    width: 40px;
    filter: brightness(90%);
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.game-btn {
    height: 60px;
    border: 4px solid rgb(82, 120, 186);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: rgb(194, 194, 194);
    margin-bottom: 15px;
}

.score-box-heading {
    font-size: 1.17em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.block {
    display: block;
}